@model IEnumerable<IMS.Models.Models.CouponCodes>

<div class="border p-3" style="margin-top:65px;">
    <div class="row">
        <div class="col-6">
            <h2>Coupon List</h2>
        </div>
        <div class="col-6">
            <a class="btn btn-primary" asp-action="Upsert">Add New Coupon</a>
        </div>
    </div>
    <br />
    <hr />
    @if (Model.Count() > 0)
    {
        <table class="table table-responsive table-hover table-bordered table-striped table-dark" style="text-align:center;">
            <thead>
                <tr>
                    <th scope="col">Serial No</th>
                    <th scope="col">Coupon Code</th>
                    <th scope="col">Discount Parcentange</th>
                    <th scope="col">Till Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cc in Model)
                {
                    <tr>
                        <td></td>
                        <td>@cc.CouponCode</td>
                        <td>@cc.CouponParcentange</td>
                        <td>@cc.CouponDate</td>
                        <td>
                            <div class="row">
                                <div class="col-6">
                                    <a class="btn btn-secondary" asp-action="Upsert" asp-route-id="@cc.Coupon_Id">Edit</a>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@cc.Coupon_Id">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Coupons added yet!</p>
    }
</div>


<script src="/js/serialize_table.js"></script>